.swiper-button-prev::after {
  font-size: 15px;
  color: orange;
}
.swiper-button-prev {
  border: 2px solid orange;
  position: absolute !important;
  top: 285px;
  left: 480px;
  font-size: 15px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 100;
}

.swiper-button-next::after {
  font-size: 15px;
  color: orange;
}

.swiper-button-next {
  border: 2px solid orange;
  position: absolute !important;
  top: 285px;
  right: 480px;
  font-size: 15px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 100;
}
